body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000033;
  min-height: 100vh;
  position: relative;
}

.star {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}

.sixtyfour-convergence-h1Font {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
}

.foldit-h2Font {
  font-family: "Foldit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.moon {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffdab3;
  box-shadow: 0 0 20px #ffdab3, 0 0 40px #ffdab3;
  top: 50px;
  right: 50px;
}

.light-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at top right,
    rgba(255, 218, 179, 0.2) 0%,
    rgba(0, 0, 51, 0) 60%
  );
  pointer-events: none;
}
